<div id= "wrapper">
<h1>Please take a moment to sign our guest book</h1>

<table>
  <tr>
  </tr>

<% @signatures.each do |signature| %>
  <tr><td><%= signature.message %></td></tr>
    <tr><td></td><td>-<%= signature.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Signature', new_signature_path %>
</div>
