
<header>
	<div id= "menu">
		<div id= "menuItem" > <a href="/home.html" onclick="myJsFunc(); return false;">Home.</a></div>
		<div id= "menuItem" > <%= link_to 'Guest Book.', signatures_path %></div>
		<div id= "menuItem" > <a href="/gallery.html" onclick="myJsFunc(); return false;">Gallery.</a></div>
		<div id= "menuItem" > <%= link_to 'Bridal Party.', participants_path %></div>
		<div id= "menuItem" > <a href="/info.html" onclick="myJsFunc(); return false;">Information.</a></div>
	</div>
</header>